.App {
  text-align: center;
}

.center {
  display: flex;
  justify-content: center;
}

.particles{
 position: fixed;
 top:0;
 right:0; /*this ensures that the background will be centered and behind everything else*/
 bottom:0;
 left:0;
 z-index: -1; /*position fixed or absolute*/
}